# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
local_settings.py

# Environments
.env
venv/
env/
ENV/
*.bak
*.pyc

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.eslintcache
.parcel-cache
.yarn/
.pnpm-store/

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
